<ion-header>
  <ion-toolbar>
    <ion-title>Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ng-container *ngFor="let asistencia of asistencias" >
      <ion-item button (click)="cambiarPage(asistencia.id || '',this.nombre)">
        <ion-label>
          <h2>Fecha: {{ asistencia.fechaClase | date:'dd/MM/yyyy HH:mm:ss' }}</h2>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <div class="qr-container">
  </div>
  <br>
  <ion-button expand="full" color="purple" (click)="crearCurso()">Iniciar Clase</ion-button>
  <br>
  <ion-button expand="center" color="purple" routerLink="/asignatura-profe">Volver</ion-button>
  <br>
</ion-content>

