<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">RegistrAPP</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-button expand="center" color="purple" (click)="startScanning()">Iniciar Escaneo</ion-button>
  
  <br><br>

  <ion-button expand="center" color="purple" routerLink="/asignatura">Ver asignaturas</ion-button>
  <ion-button expand="center" color="purple" routerLink="/login">Volver</ion-button>

  <img src="../../assets/qr-hand.png" alt="" class="qr-hand">

</ion-content>

<ion-footer>
  <div class="uni">
    <img src="\assets\logo-duoc.png" alt="Duoc Logo" class="university-logo" />
  </div>
</ion-footer>