<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">Bienvenido</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--inicio cuerpo código-->
<ion-content padding>
  <form (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-input 
        label="Correo electrónico"
        label-placement="floating"
        fill="solid" 
        placeholder="usuario@mail.com"
        type="email" 
        [(ngModel)]="username" 
        name="username" 
        required></ion-input>
    </ion-item>
    <ion-item *ngIf="usernameError">
      <!--para que el correo electronico sea valido debe tener . y @-->
      <ion-label color="danger">Por favor, ingrese un correo electrónico válido.</ion-label>
    </ion-item>
<!--botones para recuperar (envia mensaje por pantalla de envio exitoso) y para volver al inicio-->
    <ion-button color="purple" type="submit">RECUPERAR CONTRASEÑA</ion-button>
    <ion-button color="purple" routerLink="/home">VOLVER</ion-button>

  </form>

</ion-content>

<!--fin cuerpo código-->

<!--inicio footer-->
<ion-footer>
  <div class="uni">
    <img src="\assets\logo-duoc.png" alt="Duoc Logo" class="university-logo" />
  </div>
</ion-footer>
<!--fin footer-->