<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">RegistrAPP</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-item>
    <ion-label>Ciudad:</ion-label>
    <ion-input [(ngModel)]="city" placeholder="Ingresa la ciudad"></ion-input>
  </ion-item>
  <ion-button expand="center" color="purple" (click)="getWeather()">VER CLIMA</ion-button>
  <ion-button expand="center" color="purple" (click)="goToLogin()">VOLVER</ion-button>

  <br><br>
  <div *ngIf="weatherData">
    <h2>Clima en {{ weatherData.name }}</h2>
    <p>Temperatura: {{ weatherData.main.temp }} °C</p>
    <p>Condiciones: {{ weatherData.weather[0].description }}</p>
  </div>
</ion-content>

<ion-footer>
  <div class="uni">
    <img src="assets/logo-duoc.png" alt="Duoc Logo" class="university-logo" />
  </div>
</ion-footer>
