<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">RegistrAPP</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 style="color: purple;">Crear Asignatura</h2>

  <form (ngSubmit)="addAsignatura()">
    <ion-item>
      <ion-label position="floating">Nombre Asignatura</ion-label>
      <br />
      <ion-input name="nombre" placeholder="Escriba aquí" [(ngModel)]="asignatura.nombre" required></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button type="submit" color="purple">Subir</ion-button>
      <ion-button color="purple" routerLink="/homeProfe">Volver</ion-button>
    </div>
  </form>
</ion-content>

<ion-footer>
  <div class="uni">
    <img src="\assets\logo-duoc.png" alt="Duoc Logo" class="university-logo" />
  </div>
</ion-footer>
