<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">RegistrAPP</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <ion-label style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:purple">BIENVENIDO <br> {{ username }}</ion-label>
  <br><br><br>

  <ion-button expand="center" color="purple" routerLink="/asignatura-profe">Crear Asistencia</ion-button>
  <ion-button expand="center" color="purple" (click)="logout()">Cerrar Sesión</ion-button>
  <ion-button expand="center" color="purple" routerLink="/crear-asig">Agregar Asignatura</ion-button>
</ion-content>

<ion-footer>
  <div class="uni">
    <img src="/assets/logo-duoc.png" alt="Duoc Logo" class="university-logo" />
  </div>
</ion-footer>